[Unit]
Description=Clipper ~ Clipboard proxy

[Service]
ExecStart=/home/nelson/bin/clipper
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=clipper

[Install]
WantedBy=basic.target
